* {
    /* outline: 1px solid tomato; */
}

.header {
    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: var(--black-color);
}

.header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner .gnb {}

.header .inner .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .inner .gnb>ul>li>a {
    color: var(--body-color);
}

.header .inner .util {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 300px;
    font-size: 20px;
    color: var(--body-color);
}

.header .inner .util button {
    color: var(--body-color);
}










.main_visual {}

.main_visual .main_visual_tab_slide .main_visual_list {
    position: absolute;
    z-index: 9;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1410px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_visual .main_visual_tab_slide .main_visual_list li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    max-width: 235px;
    width: 100%;
    height: 100px;
    color: var(--white-color);
    cursor: pointer;
    color: #999;
}

.main_visual .main_visual_tab_slide .main_visual_list li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #222;
}

.main_visual .main_visual_tab_slide .main_visual_list li.on {
    position: relative;
    color: var(--white-color);
}

.main_visual .main_visual_tab_slide .main_visual_list li.on::before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #444;
    animation: 5s main_visual_list_li linear;
}

@keyframes main_visual_list_li {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: calc(100vh - 80px);
}

.main_visual .main_visual_slide .itm::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
}

.main_visual .main_visual_slide .itm .slg {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1410px;
    width: 100%;
}

.main_visual .main_visual_slide .itm .slg p {
    display: block;
    margin: 0 0 24px 0;
    font-size: 24px;
    text-indent: 2px;
    line-height: 24px;
    color: var(--body-color);
}

.main_visual .main_visual_slide .itm .slg strong {
    display: block;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    color: var(--body-color);
}

.main_visual .main_visual_slide .itm01 {
    background: url(../images/main_visual01.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 {
    background: url(../images/main_visual02.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 {
    background: url(../images/main_visual03.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm04 {
    background: url(../images/main_visual04.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm05 {
    background: url(../images/main_visual05.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm06 {
    background: url(../images/main_visual06.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm07 {
    background: url(../images/main_visual07.jpg)no-repeat center center/cover;
}








.main_product {
    position: relative;
    background: var(--black-color);
    padding: 100px 0;
}

.main_product .product_slide .itm {
    padding: 40px;
    background: #151515;
}

.main_product .product_slide .itm figure {
    overflow: hidden;
}

.main_product .product_slide .itm strong {
    display: block;
    margin: 0 0 16px 0;
    font-size: 24px;
    line-height: 24px;
}

.main_product .product_slide .itm p {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: var(--desc-color);
}

.main_product .product_slide .itm img {
    transition: 0.4s;
}

.main_product .product_slide .itm .ord {
    position: relative;
    border: 1px solid #444;
    background: var(--black-color);
    transition: 0.5s;
}

.main_product .product_slide .itm .ord a {
    position: relative;
    z-index: 1;
    display: block;
    text-align: center;
    padding: 16px 24px;
}

.main_product .product_slide .itm .ord a:hover {
    color: var(--black-color);
    transition: 0.4s;
}

.main_product .product_slide .itm .ord a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background: var(--white-color);
    transition: 0.4s;
}

.main_product .product_slide .itm .ord a:hover::before {
    right: auto;
    left: 0;
    width: 100%;
}

.main_product .main_product_dots {
    margin: 24px 0 0 0;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.main_product .main_product_dots li {
    display: block;
    padding: 4px;
    font-size: 0;
    color: var(--white-color);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: #333;

    cursor: pointer;
}

.main_product .main_product_dots li.on {
    border: 2px solid #999;
    background: transparent;
}








.main_content {
    border-top: 1px solid #181818;
}

.main_content .tit h2 {
    text-transform: uppercase;
}

.main_content .inner .content_slide {
    position: relative;
}

.main_content .inner .content figure {
    position: relative;
    margin: 0 0 16px 0;
}

.main_content .inner .content figure::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 1));
}


.main_content .inner .content p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--desc-color);
}

.main_content .inner .content_slide_dots {
    position: absolute;
    z-index: 9;
    bottom: 80px;
    left: 50%;
    max-width: 1410px;
    width: 100%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
}

.main_content .inner .content_slide_dots li {
    display: flex;
    justify-content: center;
    max-width: 352px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--desc-color);
    cursor: pointer;
}

.main_content .inner .content_slide_dots li.on {
    font-weight: 400;
    color: #fff;
}










.footer {
    background: #000;
}

.footer .inner {}

.footer .inner .ft {
    padding: 40px 0;
}

.footer .inner .ft>ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer .inner .ft>ul .b>a {
    font-size: 16px;
    color: #fff;
}

.footer .inner .ft>ul>li {
    position: relative;
}

.footer .inner .ft>ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -32%);
    width: 1px;
    height: 10px;
    background: #333;
}

.footer .inner .ft>ul>li>a {
    font-size: 14px;
    font-weight: 300;
    color: #999;
}

.footer .inner .fb {
    border-top: 1px solid #111;
    padding: 40px 0;
}

.footer .inner .fb>ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer .inner .fb>ul>li {
    position: relative;
}

.footer .inner .fb>ul>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -32%);
    width: 1px;
    height: 10px;
    background: #333;
}

.footer .inner .fb>ul>li>a {
    font-size: 14px;
    font-weight: 300;
    color: #999;
}